<h1>Register</h1>
<form [formGroup]="formService.registerForm">

  <!-- 
      live uptdate van data input
  
      Value: {{ registerForm.value | json }}
     -->
  <mat-form-field>

    <input matInput placeholder="Firstname" formControlName="firstname">

    <mat-error
      *ngIf="formService.registerForm.controls['firstname'].invalid && formService.registerForm.controls['firstname'].touched">
      Invalid firstname.
    </mat-error>

  </mat-form-field>

  <br>

  <mat-form-field>

    <input matInput placeholder="Lastname" formControlName="lastname">

    <mat-error
      *ngIf="formService.registerForm.controls['lastname'].invalid && formService.registerForm.controls['lastname'].touched">
      Invalid lastname.
    </mat-error>

  </mat-form-field>

  <br>

  <mat-form-field>

    <input matInput placeholder="Email" formControlName="email">

    <mat-error
      *ngIf="formService.registerForm.controls['email'].invalid && formService.registerForm.controls['email'].touched">
      Invalid email.
    </mat-error>

  </mat-form-field>

  <br>

  <mat-form-field>

    <input matInput placeholder="Password" type="password" formControlName="password">

    <mat-error
      *ngIf="formService.registerForm.controls['password'].invalid && formService.registerForm.controls['password'].touched">
      Ivalid password.
      Try with something 5 characters long + numbers
    </mat-error>

    <mat-hint>more than 5 characters with letters and numbers</mat-hint>

    <mat-error
      *ngIf="formService.registerForm.controls['password'].errors?.minlength && formService.registerForm.controls['password'].touched">
      password is too short
    </mat-error>

  </mat-form-field>
  <br>
  <br>
  <mat-form-field>

    <input matInput placeholder="confirm Password" type="password" formControlName="password2">

    <mat-error
      *ngIf="formService.registerForm.controls['password2'].invalid && formService.registerForm.controls['password2'].touched">
      Ivalid password.

    </mat-error>

    <mat-error *ngIf="formService.registerForm.controls['password2'].hasError('passwordMismatch')">
      passwords do not match.
    </mat-error>

  </mat-form-field>

  <br>

  <span #errMsg id="errMsg">{{errOutput}}</span>

  <button mat-raised-button [disabled]="formService.registerForm.invalid" color="primary"
    (click)="onSubmit()">Submit</button>
  <button mat-raised-button (click)="onclose()" color="primary">Back</button>

  <br>


</form>
