<br>
<div class="flex-container">
  <p>Select a squad:</p>

  <mat-form-field>


    <mat-select>

      <mat-option *ngFor="let squad  of allSquads" [value]="squad[0]" (click)="chartLoad(squad[0])">
        {{ squad[1].Name }}
      </mat-option>

    </mat-select>

  </mat-form-field>
</div>
<br>

<hr>
<header class="page-header"> {{allCurrentTasks}} Tasks </header>
<div class="divChart">
  <canvas id="chart"></canvas>
</div>

<header class="page-header"> {{AllCurrentMembers}} Members </header>
<div class="divChart2">
  <canvas id="chart2"></canvas>
</div>

<header class="page-header"> Completion ratio </header>
<div class="divChart2">
  <canvas id="chart3"></canvas>
</div>

<header class="page-header"> Summary </header>


<div class="cards-container " *ngIf="mostClosedTask != ''">

  <div class="card mostClosed">
    <header class="card-header">
      <h2>Most closed tasks</h2>
    </header>

    <div class="card-body">{{mostClosedTask}}</div>
  </div>

  <div class="card mostOpen">
    <header class="card-header">
      <h2>Most open tasks</h2>
    </header>

    <div class="card-body">{{mostOpenTask}}</div>
  </div>

  <div class="card most">
    <header class="card-header">
      <h2>Most tasks</h2>
    </header>

    <div class="card-body">{{mostTaskMember}}</div>
  </div>

  <div class="summary-container">
    This was calculated in ratio of all the tasks to all members of this squad
  </div>

</div>
