.divChart {
  margin: auto;
  max-width: 90vw;
}

.divChart2 {
  margin: auto;
  max-width: 90vw;
  max-height: 90vh;
  height: 50vh;

}



.flex {
  display: flex;

}

.label {
  margin: 1em 0.5em 1em -0.5em;
  vertical-align: center;
}

mat-select-value {
  display: table-cell;
  max-width: 0;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}

mat-select,
mat-option {
  text-align: center;
  font-size: 1.5em;

}

mat-form-field {
  max-width: 90%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;


}



.page-header {
  text-align: center;
  font-size: 2em;
  font-weight: bolder;
  margin: 1em;
  text-shadow: 0.06em 0.06em 0em darkgrey;
  color: #643cb4;
}

.flex-container {

  display: flex;

  text-align: center;
  margin: 0em 3em;

}

.summary-container {
  text-align: center;
  margin: 1em;
  color: darkgray;
}

.card {


  margin: 1em;
  width: 80%;
  font-size: 1em;
  display: flex;
  position: relative;
  flex-direction: column;
  border-radius: 16px;
  border-color: rgba(255, 99, 132, 1);
  /* background: darkgrey;*/
  box-shadow: 0.5em 0.5em 1em darkgrey;
  transition: .2s;
  align-items: center;
  padding: 1em;
}

.card-header {
  max-width: 100%;

}

.card:hover,
.card:focus {
  transform: translateY(-1em);

}

.card-body {
  color: linear-gradient(320deg, #C3BEF7, #ffffff);
  font-size: 2em;
  font-weight: bold;
  text-shadow: 0.06em 0.06em 0em lightgray;
  color: #875ae0;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  margin: auto 3em;
  text-align: center;
}

h2 {
  margin: 0em;
  color: #7a7a8c;
  width: 100%;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mostOpen {

  background: rgba(255, 99, 132, 0.2)
}

.mostClosed {

  background: rgba(75, 192, 192, 0.2);
}

.most {
  background: rgba(255, 159, 64, 0.2)
}




@media screen and (min-width: 1020px) {
  .divChart {
    width: 55%;
  }

  .divChart2 {
    height: 35%;
    width: 75%;
  }




}
