.card {
  background: linear-gradient(320deg, #C3BEF7, #ffffff);
  color: blueviolet;
  margin: 1em;
  width: 35vw;
  font-size: 1em;
  display: flex;
  position: relative;
  flex-direction: column;
  border-radius: 16px;
  /* background: darkgrey;*/
  box-shadow: 0.5em 0.5em 1em darkgrey;
  transition: .2s;
  align-items: center;
  padding: 1em;
}


h2 {
  margin: 0em;
  color: #7a7a8c;
  width: 100%;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

mat-icon {
  font-size: 3em;
  text-decoration: underline;

}

.mat-icon {
  width: unset;
  text-shadow: 0.05em 0.05em 0em darkgrey;
}

.card:hover,
.card:focus {
  transform: translateY(-1em);
}

.card-body {
  margin: 3rem 0 0;
}

.squad-info {
  grid-area: auto;
  box-sizing: border-box;
  width: 120%;
}

.squad-tags {
  font-style: normal;
  font-weight: 700;
  color: #7a7a8c;
}

.right {
  float: right;
  width: fit-content;
}

.card-header {
  max-width: 100%;

}
