<form [formGroup]="formService.taskForm">






  <div class="flex">
    <mat-label class="label">Title:</mat-label>
    <mat-form-field appearance="outline">

      <input class="input-title" matInput placeholder="title" formControlName="title">


      <mat-error
        *ngIf="formService.taskForm.controls['title'].invalid && formService.taskForm.controls['title'].touched">
        Invalid title.
      </mat-error>

    </mat-form-field>
  </div>



  <div class="flex description">
    <mat-label class="label description ">Description:</mat-label>
    <mat-form-field appearance="outline">

      <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="4" placeholder="Description" formControlName="description"></textarea>

    </mat-form-field>
  </div>


  <div class="flex">
    <mat-label class="label ">Repeat:</mat-label>
    <mat-form-field>



      <mat-select formControlName="repeat">

        <mat-option *ngFor="let repeat  of formService.repeats" [value]="repeat.name">
          {{ repeat.name }}
        </mat-option>

      </mat-select>
      <mat-error
        *ngIf="formService.taskForm.controls['repeat'].invalid && formService.taskForm.controls['repeat'].touched">
        Invalid squad.
      </mat-error>
    </mat-form-field>
  </div>



  <div class="flex">
    <mat-label class="label ">Assign:</mat-label>
    <mat-form-field>


      <mat-select formControlName="assign">

        <mat-option *ngFor="let name  of membersNames" [value]="name">
          {{ name }}
        </mat-option>

      </mat-select>
      <mat-error
        *ngIf="formService.taskForm.controls['assign'].invalid && formService.taskForm.controls['assign'].touched">
        Invalid member.
      </mat-error>
    </mat-form-field>

  </div>

  <br>
  <span #errMsg class="errMsg">{{errOutput}}</span>

  <br>
  <button mat-raised-button [disabled]="formService.taskForm.invalid" color="primary"
    (click)="onSubmit()">Submit</button>
  <button mat-raised-button color="warn" (click)="onClose()">Cancel</button>
</form>
