<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false" (click)="drawer.toggle()">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>

      <div class="accCont">

        <div class="box info">
          {{this.currentUserService.firstname}}
          {{this.currentUserService.lastname}} <br>
          {{squadCount}} squads


        </div>
      </div>
      <hr>

      <a mat-list-item routerLink="/">Squads</a>
      <a mat-list-item routerLink="/calender-page">Calender</a>
      <a mat-list-item routerLink="/overview-page">Overview</a>
      <a mat-list-item (click)="formService.loginPopup()">Log out</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" class="hambugerIcon" mat-icon-button (click)="squadNumber()"
        (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{tittle}}</span>
      <span *ngIf="!(isHandset$ | async)" class="spacer"></span>

      <a *ngIf="!(isHandset$ | async)" routerLink="/">Squads</a>
      <a *ngIf="!(isHandset$ | async)" routerLink="/calender-page">Calender</a>
      <a *ngIf="!(isHandset$ | async)" routerLink="/overview-page">overview</a>
      <a *ngIf="!(isHandset$ | async)" (click)="formService.loginPopup()">Log out</a>


      <button type="button" mat-icon-button *ngIf="(isHandset$ | async) && (tittle == 'Squad List')"
        [matMenuTriggerFor]="menu">
        <mat-icon aria-label="Side nav toggle icon">more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="createSquad()">

          <mat-icon aria-label="Side nav toggle icon">edit</mat-icon>
          <span>New</span>
        </button>

        <button mat-menu-item (click)="editSquad() ">
          <mat-icon aria-label="Side nav toggle icon">open_in_new</mat-icon>
          <span>Edit</span>
        </button>

        <button mat-menu-item (click)="deleteSquad()">
          <mat-icon aria-label="Side nav toggle icon">delete</mat-icon>
          <span>Delete</span>
        </button>

      </mat-menu>
    </mat-toolbar>
    <ng-content></ng-content>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
