<!--<header class="page-header">{{countSquads}} squads</header>-->


<div class="page-content">




  <div class="summary-container" *ngIf="noSquadFound == true">
    You are currently not registered in any squad. Please make one to start to use this awesome app.
  </div>
  <img *ngIf="this.currentUser.squads.length == 0 && noSquadFound != true" src="./../../../assets/gifs/loading.gif"
    alt="loading-gif">
  <!--<p><a href="https://giphy.com/gifs/iGwIFdyvV3Xrimie3h">via GIPHY</a></p>-->
  <div class="list ">

    <squad-container *ngFor=" let squad  of squads" [id]="squad[0]" (click)="route([squad[0]])" [title]="squad[1].Name"
      [icon]="squad[1].Icon" [countMem]="squad[1].Members.length" [countTasks]="squad.length != 3 ? 0 : squad[2].length"
      @fadeIn>
    </squad-container>
  </div>

</div>
