<h2 *ngIf="editmode != true && deletemode != true">New Squad</h2>
<h2 *ngIf="editmode == true">Edit Squad</h2>
<h2 *ngIf="deletemode == true">Delete Squad</h2>
<div *ngIf="editmode == true || deletemode == true" class="squad-container">
  <p>Select a squad:</p>

  <mat-form-field>


    <mat-select [ngModel]="selectedValue">

      <mat-option *ngFor="let squad  of squads" [value]="squad[0]" (click)="selectedSq(squad)">
        {{ squad[1].Name }}
      </mat-option>

    </mat-select>

  </mat-form-field>
</div>

<form *ngIf="deletemode != true" [formGroup]="formService.squadForm">

  <!-- 
      live uptdate van data input
  
      Value: {{ squadForm.value | json }}
     -->
  <mat-form-field>
    <mat-label>squad name:</mat-label>
    <input matInput placeholder="name" formControlName="name">

    <mat-error *ngIf="formService.squadForm.controls['name'].invalid && formService.squadForm.controls['name'].touched">
      Invalid name.
    </mat-error>

  </mat-form-field>

  <br>

  <mat-label>Choose icon:</mat-label>
  <mat-form-field>

    <mat-select formControlName="icon">
      <mat-option *ngFor="let icon  of this.iconsList.iconNames" [value]="icon">
        <mat-icon aria-hidden="false">{{ icon}}</mat-icon> 

      </mat-option>

    </mat-select>

    <mat-error *ngIf="formService.squadForm.controls['icon'].invalid && formService.squadForm.controls['icon'].touched">
      Invalid icon.
    </mat-error>

  </mat-form-field>



  <br>

  <mat-label>Squad members:</mat-label>

  <mat-form-field *ngIf="editmode == true" class="example-chip-list">

    <mat-chip-list #chipList aria-label="member selection">
      <mat-chip *ngFor="let member of memberList" [selectable]="selectable" [removable]="removable"
        (removed)="remove(member)">
        {{member.name}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>

    </mat-chip-list>
  </mat-form-field>


  <button class="btnaddMem" mat-raised-button color="primary" (click)="formService.addMember()">add member</button>

  <div formArrayName="members" class="membersEmail">

    <!-- Dynamic email input: to get more member when creating squad-->
    <mat-form-field *ngFor="let member of formService.memberForms.controls; let i=index" [formGroupName]="i">



      <input class="emailInput" matInput placeholder="member email" formControlName="email">

      <mat-error
        *ngIf="formService.memberForms.controls[i]['controls'].invalid && formService.memberForms.controls[i]['controls'].touched">
        Invalid email.
      </mat-error>


      <button class="btnDelete" mat-raised-button color="warn" (click)="formService.deleteMember(i)">delete</button>

    </mat-form-field>
  </div>

  <br>
  <span #errMsg class="errMsg">{{errOutput}}</span>

  <br>




  <button mat-raised-button [disabled]="formService.squadForm.invalid" color="primary"
    (click)="onSubmit()">Submit</button>
  <button mat-raised-button (click)="onClose()" color="warn">Cancel</button>

  <br>


</form>

<button *ngIf="deletemode == true" mat-raised-button color="primary" (click)="onDelete()"
  [disabled]="currentSquad.length == 0">Delete</button>
<button *ngIf="deletemode == true" mat-raised-button color="warn" (click)="onClose()">Cancel</button>
