<h1>Uw vent onder de sloef</h1>
<img src="./../../../assets/gifs/login.gif" alt="login-gif">
<!-- 
<p><a href="https://giphy.com/gifs/l1PDcXMtjsSJx77VvR">via GIPHY</a></p>
 -->
<form [formGroup]="formService.loginForm">

  <!-- 
      live uptdate van data input
  
      Value: {{ loginForm.value | json }}
     -->



  <mat-form-field>

    <input matInput placeholder="Email" formControlName="email">

    <mat-error
      *ngIf="formService.loginForm.controls['email'].invalid && formService.loginForm.controls['email'].touched">
      Invalid email.
    </mat-error>

  </mat-form-field>

  <br>

  <mat-form-field>

    <input matInput placeholder="Password" type="password" formControlName="password">

    <mat-error
      *ngIf="formService.loginForm.controls['password'].invalid && formService.loginForm.controls['password'].touched">
      Ivalid password.
    </mat-error>

  </mat-form-field>

  <br>

  <span #errMsg id="errMsg">{{errOutput}}</span>

  <button mat-raised-button [disabled]="formService.loginForm.invalid" color="primary"
    (click)=onSubmit()>Submit</button>
  <button mat-raised-button (click)="formService.registerPopup()" color="primary">Register</button>

  <br>

</form>
